{% extends 'base.html' %}
{% load static %}
{% block content %}
      {% for featured_post in featured_posts %}
      {% if forloop.first %} 
      <div
        class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
        style="
          background-image: url({% static 'images/cricket.jpg' %});
          background-blend-mode: overlay;
          background-size: cover;
        "
      >
        <div class="col-md-8 px-0">
          <h1 class="display-4 font-italic">{{featured_post}}</h1>
          <p class="lead my-3">
            {{featured_post.short_description | truncatewords:10}}
          </p>
          <p class="lead mb-0"><a href="{% url 'blogs' featured_post.slug %}" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {% comment %} Featured Posts {% endcomment %}
      <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Featured Posts</h3>
      <div class="row mb-2">
        {% for post in featured_posts %}
        {% if not forloop.first %}
        <div class="col-md-6">
          <div class="card border-0">
            <div class="card-body">
              <h3><a href="{% url 'blogs' post.slug %}">{{post}}</a></h3>
              <small class="mb-1 text-muted">{{post.create_at | timesince}} ago | {{post.author}}</small>
              <p class="card-text">
                {{post.short_description | truncatewords:25}}
              </p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>

      {% comment %} Recent Articles {% endcomment %}
      <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Recent Articles</h3>
      <main role="main" class="container p-0">
        <div class="row">
          <div class="col-md-8 blog-main">
            {% for not_featured_post in not_featured_posts %}
              <div class="card border-0">
                <div class="card-body">
                  <h3> <a href="{% url 'blogs' not_featured_post.slug %}">{{not_featured_post}}</a></h3>
                  <small class="mb-1 text-muted">{{not_featured_post.create_at | timesince}} ago | {{not_featured_post.author}}</small>
                  <p class="card-text">
                    {{not_featured_post.short_description | truncatewords:25}}
                  </p>
                </div>
              
            </div>
            {% endfor %}
            <!-- /.blog-post -->
          </div>
          <!-- /.blog-main -->

          <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
              <h4 class="font-italic">About</h4>
              <p class="mb-0">
                Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                fermentum. Aenean lacinia bibendum nulla sed consectetur.
              </p>
            </div>

            <div class="p-3">
              <h4 class="font-italic">Follow Us</h4>
              <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">LinkedIn</a></li>
              </ol>
            </div>
          </aside>
          <!-- /.blog-sidebar -->
        </div>
        <!-- /.row -->
      </main>
      <!-- /.container -->
    </div>
    {% endblock content %}