{% extends 'base.html' %}
{% load static %}
{% block content %}
      {% for featured_post in featured_posts %}
      {% if forloop.first %}
      <div
        class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
        style="
          background-image: url({%static 'images/cricket.jpg' %});
          background-blend-mode: overlay;
          background-size: cover;
        "
      >
        <div class="col-md-8 px-0">
          <h1 class="display-4 font-italic">{{featured_post}}</h1>
          <p class="lead my-3">{{featured_post.short_description | truncatewords:10}}</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
      {% endif %}
      {% endfor %} {% comment %} Featured Posts {% endcomment %}
      <h3 class="text-uppercase text-warning" style="letter-spacing: 2px">Category - {{category_by_posts}}</h3>
      <div class="row mb-2">
        {% if posts %}
        {% for post in posts %}
        <div class="col-md-6">
          <div class="card border-0">
            <div class="card-body">
              <h3>{{post}}</h3>
              <small class="mb-1 text-muted">{{post.create_at | timesince}} ago | {{post.author}}</small>
              <p class="card-text">{{post.short_description | truncatewords:25}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>Opps!!! No posts found!</h5>
        {% endif %}
      </div>

      {% comment %} Recent Articles {% endcomment %}
      <h3 class="text-uppercase text-warning" style="letter-spacing: 2px">Recent Articles</h3>
    </div>
    {% endblock content %}