{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <!-- left side -->
  <!-- load sidebar -->
  {% include 'dashboard/sidebar.html' %}
  <!-- -->
  <!-- -->

  <!-- right side -->
  <div class="col-md-9">
    <h2>Add New Post</h2>
    <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit" class="btn btn-info">Add</button>
    </form>
    <br/>
  </div>
  <!-- -->

  <!-- -->
</div>
{% endblock content %}