{% extends 'base.html' %}
{% block content %}
<div class="row">
  <!-- left side -->
  <!-- load sidebar -->
  {% include 'dashboard/sidebar.html' %}
  <!-- -->
  <!-- -->

  <!-- right side -->
  <div class="col-md-9">
    <div class="d-flex justify-content-between align-items-center">
      <h2>All Users</h2>
      <a href="{% url 'users' %}" class="btn btn-success">Add New User</a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>UserName</th>
          <th>Email</th>
          <th>Active</th>
          <th>Staff</th>
          <th>SuperUser</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}     
        <tr>
          {% comment %} <td>{{ category.id }}</td> {% endcomment %}
          <td>{{ forloop.counter }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          {% comment %} <td>{{ user.is_active }}</td> {% endcomment %}
          <td>
            {% if user.is_active %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}
          </td>
          <td>
            {% if user.is_staff %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}
          </td>
          <td>
            {% if user.is_superuser %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}
          </td>
          <td>
            {% comment %} <a href="{% url 'edit_post' post.id %}"> {% endcomment %}
              <i class="fa fa-edit text-success"></i>
            {% comment %} </a> {% endcomment %}
            &nbsp;
            {% comment %} <a href="{% url 'delete_post' post.id %}"> {% endcomment %}
              <i class="fa fa-trash text-danger"></i>
            {% comment %} </a> {% endcomment %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- -->

  <!-- -->
</div>
{% endblock content %}